body {
    margin: 0;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
h1 {
    font-family: 'Nobile', sans-serif;
    text-align: right;
    font-weight: bold;
    color: rgb(53, 53, 53);
    margin: 0;
    padding: 0;
}
a {
    margin:0;
    padding:0;
    text-decoration: inherit;
    color:inherit;
}

#hamburger {
    width:13%;
    display: block;
}
#hamburger a {
    margin: 0;
    padding: 0;
    text-decoration: inherit;
    color: inherit;
}

#headerlink {
    width: 87%;
    text-decoration: none;
    color: inherit;
}
#headerlink:hover {
    background-color: #7c8b9c;
}
.namelink{
    width: 100%;
    height: 100%;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menuicon {
    margin: 5px;
    font-size: 48px;
}
#navbar {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: #e2e2e2;
}
#navlinks {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    position:absolute;
    top: -400px;
    flex-direction: column;
    justify-content: space-between;
    opacity: 93%;
    transition: all 0.3s;
    justify-content: space-evenly;
}
#navlinkswide{
    margin: 0;
    padding: 0;
    width: 76%;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #4d4055;
}
#navlinkswide a{
    width:100%;
    
}
#navlinkswide li{
    width:100%;
    height:100%;
    font-family: 'Nobile', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    position:relative;
    top:0px;
    z-index: 1;
    transition: all 0.25s;
    color: rgb(51, 51, 51);
}
#navlinkswide li:hover {
    background-color: rgb(119, 119, 119);   
    color: #d4dee7;
    
    top: 6px;
}
#navlinks li {
    font-family: 'Nobile', sans-serif;
    padding: 22.8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    
    color: rgb(51, 51, 51);
    
}
.navhme{
    background-color: rgb(221, 221, 221);
}
.navprj{
    background-color: rgb(209, 209, 209);
}
.navblg{
    background-color: rgb(221, 221, 221);
}
.navcon{
    background-color: rgb(209, 209, 209);
}
.navres{
    background-color: rgb(221, 221, 221);
}
/* #navlinks li:hover {
    background-color: rgb(119, 119, 119);   
    color: #d4dee7;
} */

#banner{
    width: 100%;
    background-color: #4d4055;

}
#banner h2 {
    font-size: 80px;
    font-weight: bold;
    padding: 18px 0;
    margin: 0 8px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: #d4dee7;
}

#blognav {
    background-color: #e2e2e2;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    height: 113px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}
#blognav a {
    background-color: #e2e2e2;
    list-style-type: none;
    font-family: 'Nobile', sans-serif;
    padding: 20px 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#blognav a:hover {
    background-color: rgb(119, 119, 119);
    color: #d4dee7;
}


main {
    min-height: 68vh;
    width: 100%;
    background-color: #e2e2e2;
}

#contactformbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    text-align: center;
    font-family: 'Nobile', sans-serif;
    font-size: 18px;
    margin: 8px 0px;
    color: rgb(131, 131, 131);
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type=text], textarea {
    width: 58vw;
    height: 28px;
    padding: 4px;
    border: 2px solid rgb(114, 109, 124);
    border-radius: 2px;
    box-sizing: content-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  textarea {
      height: 200px;
  }
  input[type=submit]{
      margin-bottom: 8px;
      width: 30%;
      height: 32px;
      font-weight: bold;
      font-family: 'Nobile', sans-serif;
      color: rgb(51, 51, 51);
  }

#blogtitle {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    
}

#downloadbutton{
    transition: color 0.1s;
    font-size:22px;
}
#downloadbutton:hover{
    color:#7aa9d3;
    text-decoration: underline;
}

main h3 {
    text-align: center;
    font-family: 'Nobile', sans-serif;
    font-size: 48px;
    margin: 36px 12px 20px 12px;
    color: rgb(51, 51, 51);
    
}
main h4 {
    text-align: center;
    font-family: 'Nobile', sans-serif;
    font-size: 22px;
    margin: 10px 12px;
    font-style: italic;
    color: rgb(158, 158, 158);
}
main h5 {
    text-align: center;
    font-family: 'Nobile', sans-serif;
    font-size: 22px;
    margin: 16px 12px 20px 12px;
    color: rgb(51, 51, 51);
    
}
main h6 {
    text-align: center;
    font-family: 'Nobile', sans-serif;
    font-size: 18px;
    margin: 2px 12px 2px 12px;
    transition: color 0.1s;
    color: rgb(51, 51, 51);
    
}

main h7 {
    text-align: center;
    font-family: 'Nobile', sans-serif;
    font-size: 18px;
    margin: 2px 12px 2px 12px;
    transition: color 0.1s;
    color: rgb(51, 51, 51);
    
}
main h6 img {
    margin: 0px 18px;
    transition: all 0.1s;
}
main h6:hover img {
    filter: drop-shadow(1px 1px 1px rgb(136, 136, 136));
    transform:translate(-2px,-2px);
}
main h6:hover {

    color: #7aa9d3;
    text-decoration: underline;
    
}

main p {
    margin: 18px 32px;
    line-height: 28px;
    text-align: center;
    font-family: 'Nobile', sans-serif;
    color:rgb(53, 53, 53);
}
main p span {
    font-size: 22px;
    font-weight: bold;
}
.blogbox {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.projectsflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projectbox {
    width:90%;
    height:50vh;
    margin: 4% 2% 100px 2%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

#resumebox {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.resumecolumn{
    width:100%;
}

.skillslist li {
    font-family: 'Nobile', sans-serif;
    font-size: 18px;
    margin: 34px 18px;
}

#resumebox article {
    width: 100%;
    display:flex;
    margin: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

figcaption {
    width:100%;
    margin-bottom: 8px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    font-family: 'Nobile', sans-serif;
}
.prjlink p{
    transition: all .1s;
}
.prjlink p:hover {
    color:#7aa9d3;
    text-decoration: underline;
}
.iconbox ion-icon {
    font-size: 36px;
}


.projectbox img {

    width: 90%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    
}
.projectbox:hover img {
    width:100%;
    border-radius:4%;
}

.quote {
    color:grey;
    font-style: italic;
}

footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:70px;
    background-color: #4d4055;
    color: #d4dee7;
}
footer p {
    font-family: 'Nobile', sans-serif;
    font-size: 16px;
}
footer ion-icon {
    margin: 0 4px;
    font-size: 32px;
}

/* Mobile+ */

@media only screen and (max-width: 460px){

    #banner h2 {
        font-size: 56px;
    }
    #makecoolstuff {
        font-size: 80px !important;
    }
}

/* Tablet+ */
@media only screen and (min-width: 768px){
    #navlinkswide{
        display:flex;
    }
    #hamburger{
        display:none;
    }
    #headerlink{
        width:24%;
    }
    .namelink {
        background-color: rgb(209, 209, 209);
    }

    .projectbox {
        width:45%;
        height:35vh;
        margin: 2% 2% 100px 2%;
    }
    .resumecolumn{
        width:50%;
    }
    #blognav a {
        width: 20%;
    }
    #blognav {
        overflow-y: hidden;
    }

}

/* Desktop */

@media only screen and (min-width: 1024px){
    .projectbox {
        width:27%;
        height:35vh;
        margin: 2% 1% 130px 1%;
    }
}